div.base {
    width: 960px;
    clear: both;
    position: relative;
    margin: 2% auto;
    display: table;
}
body{
    color: #8a6d3b;
}

a, h3, p {
    text-decoration: none;
    color: #8a6d3b !important;
    font-weight: bold;
}

section {
    position: relative;
    clear: both;
}

section#topo {
    height: 140px;
    margin-bottom: 5%;
    padding-left: 5%;
}
/* Menu */
.menu {
    position: relative;
    margin-top: 5%;
}

.menu .menu_item {
    display: inline;
    padding: 5%;
    font-size: 15px;
}

.menu .menu_item a:hover{
    text-decoration: none;
    color: rgb(205, 153, 102) !important;
}

/* Destaque */
.destaque_centro img {
    max-height: 250px;
    width: 100%;
    overflow: hidden;
}

.destaque_centro {
    background-color: rgba(204, 153, 102, 0.89);
    padding: 2%;
    border-radius: 15px;
}

/* Centro Imagens */
.cachorros img {
    max-height: 150px;
    width: 100%;
    overflow: hidden;
}
.cachorros {
    margin-top: 5%;
    padding: 1%;
    border-radius: 10px;
}
.vertodos{
    float: right !important;
    margin-top: 5px;
}
.vertodos a{
    float: right;
}
.block-header .block-title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
}
.block-header .border {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 0 95px 0 10px;
}

/* Quem somos */
.quem-somos {
    margin-top: 10px;
}

.fotos .item {
    padding: 5px;
}

.fotos #topo{
    margin-bottom: 0; !important;
}

.cachorros-fotos{
    margin-top: 0 !important;
}